In [ ]:
# Importing libraries to work with images

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
import matplotlib.image as mpimg
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# Importing our .csv file

label = pd.read_csv('/Users/kevin/Classes/CS4661/src/homework-5/label.csv')

In [3]:
# Putting our images into 64 elements (64 pixels)

df = pd.DataFrame([])
for x in range(len(label.index)):
    pictures = label.iloc[x, :]
    img = mpimg.imread('/Users/kevin/Classes/CS4661/src/homework-5/digit/' + str(pictures.values[0]) + '.jpg')
    arr = np.array(img)
    number = pd.DataFrame(arr).stack().to_frame().T
    number.columns = number.columns.droplevel(0)
    df = df.append(number, ignore_index=True)

df = label.join(df)

In [4]:
df.head()

,name of the file,digit label,0,1,2,3,4,5,6,7,...,6,7,0,1,2,3,4,5,6,7
0,0,0,0,2,88,217,158,21,0,0,...,4,0,4,3,87,228,182,0,9,2
1,1,1,0,0,11,187,210,78,5,0,...,0,0,0,0,0,172,251,157,0,12
2,2,2,0,0,5,59,240,199,2,0,...,92,0,0,11,0,54,173,255,138,0
3,3,3,6,0,108,255,213,13,10,0,...,168,1,0,0,118,217,226,159,0,3
4,4,4,0,6,0,34,160,7,7,0,...,7,0,0,0,2,42,250,51,0,4

In [5]:
# Building our feature and label

x = df[['name of the file']]
y = df[['digit label']]

   name of the file
0                 0
1                 1
2                 2
3                 3
4                 4

In [6]:
# Building test/train sets

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=2)

In [7]:
# Instantiating our Random Forest

rf = RandomForestClassifier(n_estimators = 19, bootstrap = True, random_state=2)

In [8]:
# Fitting the random forest

rf.fit(x_train, y_train)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=19, n_jobs=None,
            oob_score=False, random_state=2, verbose=0, warm_start=False)

In [9]:
# Predicting result of our forest

rf_predict = rf.predict(x_test)

In [10]:
# Getting accuracy score of our forest on our digits

rf_accuracy = accuracy_score(y_test, rf_predict)
print(rf_accuracy)

0.10555555555555556