In [14]:
# Importing pandas/sklearn/numpy
import numpy as np
import pandas as pd
from sklearn import preprocessing

# Assigning DataFrame
credit_df = pd.read_csv('D:\System\Documents\GitKraken\CS4661\src\homework-3\credit.csv')

In [15]:
feature_cols = ['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Married']

x = credit_df[feature_cols]
preprocessing.scale(x)
x.head()

C:\Users\kcr12_000.KEVIN-PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by the scale function.
  after removing the cwd from sys.path.

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Income</th>
      <th>Limit</th>
      <th>Rating</th>
      <th>Cards</th>
      <th>Age</th>
      <th>Education</th>
      <th>Married</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>14.891</td>
      <td>3606</td>
      <td>283</td>
      <td>2</td>
      <td>34</td>
      <td>11</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>106.025</td>
      <td>6645</td>
      <td>483</td>
      <td>3</td>
      <td>82</td>
      <td>15</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>104.593</td>
      <td>7075</td>
      <td>514</td>
      <td>4</td>
      <td>71</td>
      <td>11</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>148.924</td>
      <td>9504</td>
      <td>681</td>
      <td>3</td>
      <td>36</td>
      <td>11</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>55.882</td>
      <td>4897</td>
      <td>357</td>
      <td>2</td>
      <td>68</td>
      <td>16</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
y = credit_df['Balance']
y.head()

0    333
1    903
2    580
3    964
4    331
Name: Balance, dtype: int64

In [17]:
# Randomly splitting the original dataset into training set and testing set
# The function"train_test_split" from "sklearn.cross_validation" library performs random splitting.
# "test_size=0.3" means that pick 30% of data samples for testing set, and the rest (70%) for training set.

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.24, random_state=4)

In [18]:
# The following line will import LinearRegression "Class"

from sklearn.linear_model import LinearRegression

linreg = LinearRegression()

# fitting the model to the training data:
linreg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [19]:
# printing Theta0 using attribute "intercept_":
print(linreg.intercept_)

# printing [Theta1, Theta2, Theta3] using attribute "coef_":
print(linreg.coef_)

-429.56096886705154
[ -7.52790609   0.05725541   3.09667887  10.7488698   -1.72874937
   0.53768504 -41.47581319]

## The cards feature is the most important and being married is the least important

In [20]:
y_prediction = linreg.predict(x_test)

print(y_prediction)

[ 1.40192822e+03  3.72390498e+02  3.09606997e+02  7.75587837e+02
  3.63641910e+02  9.54490329e+02  3.20745279e+02 -2.32591690e+02
  3.99394342e+02  6.01919205e+02 -2.52478552e+02  3.82362570e+02
  4.72524424e+02  7.15924136e+02  1.11080816e+01  6.76777695e+02
 -1.10205182e+02  2.34123414e+02 -2.17604376e+02  1.36106372e+03
  3.62716990e+02 -7.18441620e+01  3.46590403e+02 -3.48468421e+00
 -1.98897875e+02 -3.79979558e+01  7.87248445e+02  3.41641943e+02
  6.76645933e+02 -5.36248977e+01  7.73056436e+02  1.50270904e+01
  9.34623394e+02  3.80185173e+02  7.48107862e+02 -2.85720687e+02
  1.00583355e+03  5.07594510e+02 -1.40361418e+02  1.10973338e+03
  1.08474720e+03  3.98005654e+02  6.40559128e+02  9.08998220e+02
  6.99056037e+02  7.92919368e+02  3.82003132e+02  9.70862036e+02
  3.34390882e+02  1.16908059e+03  2.43605505e+02  2.78833488e+02
 -6.23362942e-01  3.85459830e+01  2.49931072e+02  8.25222693e+02
 -1.98555175e+02  5.71140218e+01  1.17285043e+03  9.81760238e+02
 -6.84711889e+00  2.70524823e+02  1.08559503e+03  7.15655323e+02
  1.30819411e+02  5.64236980e+02  8.30184087e+02  1.49315369e+03
  8.63297507e+02  4.74956374e+02  9.84021756e+01  6.89313125e+02
  9.13786870e+02  4.31100337e+02  8.78305055e+02 -1.75046527e+02
 -1.04907554e+02  1.40496710e+03  1.01565064e+03  6.65436313e+01
  1.92415294e+02  4.70577920e+02  1.10527713e+03  8.87580838e+02
  1.06491174e+03  8.09197398e+02  4.77326285e+02  8.75818625e+02
  1.03458765e+03 -1.92109932e+02 -1.47672260e+01  9.64020835e+02
  5.05529492e+02  1.08659975e+03 -2.63344522e+02  9.93883438e+01]

In [21]:
from sklearn import metrics

# Calculating "Mean Square Error" (MSE):
mse = metrics.mean_squared_error(y_test, y_prediction)

# Using numpy sqrt function to take the square root and calculate "Root Mean Square Error" (RMSE)
rmse = np.sqrt(mse)

print('Balance RMSE:', rmse)

Balance RMSE: 161.51385491175316

## RMSE Cross Validation

In [22]:
# importing the method:
from sklearn.model_selection import cross_val_score

In [23]:
mse_list = cross_val_score(linreg, x, y, cv=10, scoring='neg_mean_squared_error')

print(mse_list)

[-23646.90415342 -32003.04401232 -35462.64435619 -37327.60719635
 -14341.32205938 -33628.37104224 -31631.99317834 -12491.00334951
 -20749.61212176 -23204.9474346 ]

In [24]:
# Notice that "cross_val_score" by default provides "negative" values for "mse" to clarify that mse is error.
# in order to calculate root mean square error (RMSE), we have to make them positive!
mse_list_positive = -mse_list

# using numpy sqrt function to calculate rmse:
rmse_list = np.sqrt(mse_list_positive)
print(rmse_list)

[153.7754992  178.89394627 188.31527914 193.20353826 119.75525901
 183.38039983 177.85385343 111.76315739 144.04725656 152.331702  ]

In [25]:
# calculate the average RMSE as final result of cross validation:
print(rmse_list.mean())

160.33198910744073